body
{
    background-color: #E0F2F1;
}

.title
{
    /* border: 2px solid black; */
    padding-bottom: 5%;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title h1
{
    position: absolute;
    transform: translate(calc(50vw - 50%), -55%);
    color: #4DB6AC;
}

.title h1:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 1px #26A69A;
}
.title h1:nth-child(2)
{
    color: #4DB6AC;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 40%, 15% 51%, 29% 57%, 39% 59%, 52% 57%, 61% 52%, 71% 46%, 85% 38%, 100% 34%, 100% 100%, 0 100%);    
    }
    50%
    {
        clip-path: polygon(0 60%, 16% 66%, 29% 62%, 40% 54%, 50% 40%, 60% 32%, 73% 31%, 84% 40%, 100% 53%, 100% 100%, 0 100%);

    }
}

.register-box
{
    margin-top: 10%;
}

